<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% extends 'main.html' %}

{% block content %}
    <h2>File explorer - Collections </h2>
    <a href="{% url 'download_data' %}"><button type="button" class="btn btn-primary">Download</button></a>

    <table>
        <th>Filename</th>
        <th>Date downloaded</th>
        {% for file in files %}
        <tr>
            <td><a href="{% url 'single_collection' file.id %}">{{file.filename}}</a></td>
            <td>{{file.download_date}}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock content %}

</body>
</html>